{{ $lang  := .Attributes.lang  | default .Type }}
{{ if or (compare.Eq $lang "command") (compare.Eq $lang "output") }}
<div class="highlight highlight-{{ $lang }} {{ $lang }}">
    <div class="code_block {{ $lang }}">
        <div class="top"><i class="{{ $lang }}"></i>{{ $lang }}</div>
        {{ highlight .Inner $lang }}
    </div>
</div>
{{ else if isset .Attributes "output" }}
<div class="highlight highlight-output output">
    <div class="code_block output">
        <div class="top"><i class="output"></i>output</div>
        {{ highlight .Inner $lang }}
    </div>
</div>
{{  else if isset .Attributes "file" }}
<div class="highlight highlight-file file">
    <div class="code_block file">
        <div class="top"><i class="file"></i> {{ .Attributes.file }}</div>
        {{ highlight .Inner $lang }}
    </div>
</div>
{{ else }}
<div class="highlight">
    {{ highlight .Inner $lang }}
</div>
{{ end }}
